/* Style for Landing page */

/* #landingImg {
} */

#landingBg {
  background-color: #000000;
}

.join {
  font-family: "Public Sans", sans-serif;
  z-index: -99;
  padding-left: 15px;
  padding-top: 50px;
  /* border: dashed black 3px; */
  /* margin-top: 45%;
  margin-left: 15%; */
  /* padding-top: 50%; */
}

.joinbtns {
  border-radius: 100px;
  padding: 10px;
}

#happNow {
  font-size: 80px;
  color: white;
  padding-top: 25px;
}

#joinN {
  font-size: 30px;
  color: white;
  padding-top: 25px;
}

#landingImg {
  position: relative;
  right: 54%;
  padding: 0;
  margin: 0;
  top: 0px;
  z-index: 1;
}

#bgimagerow {
  /* border: dashed white 2px; */
  margin: 0;
  padding: 0;
}

#joinContainer {
  font: white;
  position: absolute;
  top: 8px;
  right: 16px;
  z-index: 1;
  /* border: dashed red 2px; */
}

#loginbtn {
  margin: 10px;
  padding: 10px;
}
#signupbtn {
  margin: 10px;
  padding: 10px;
}

#submitButton {
  border-radius: 100px;
  padding: 10px 30px;
}

.userInput {
  padding: 15px;
  background-color: #000000;
}

.loginContainer {
  padding: 15px;
  color: #151f2a;
}

#heroLandingIcon {
  padding-left: 15px;
  padding-top: 50px;
}

.regModal {
  background-color: #000000;
}

#btnModalStyle {
  background-color: none;
  float: right;
}

#btnModalStyle:focus {
  outline: none !important;
  outline-offset: none !important;
}

#modalHeroIcon {
  font-size: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  float: right;
  /* border: 1px solid red; */
}

#modalIconCont {
  position: relative;
  background-color: #000000;
  /* border: 1px solid lightblue; */
}

.modalRowTitle {
  display: flex;
  justify-content: center;
}

#modalCloseBtn {
  justify-content: right;
  display: right;
}

/* .col {
  border: dashed white 3px;
}
*/
