.sideNavCont {
  background-color: #000000;
  position: fixed;
  /* border: orange 1px solid; */
  width: 13%;
  z-index: 9999;
}

.sidenavItem {
  color: white;
  padding: 10px;
  margin: 5px 0px;
  display: flex;
  position: relative;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.sidenavContainer:hover .testLine {
  color: #1da1f2;
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 100px;
}

.testLine {
  display: inline-flex;
  justify-content: flex-start;
  text-align: left;
}

.navTagItem {
  line-height: 24px;
  font-size: 20px;
  font-weight: 900;
  margin: auto;
}

.navIconCont {
  padding-left: 0px;
  width: 30px;
  flex-shrink: 1;
}

.faIcon {
  padding: 0px;
  font-size: 26px;
  text-align: center;
  width: 100%;
}

.heroIconCont {
  padding: 0px;
}

.heroIcon {
  font-size: 50px;
  padding: 0px;
  text-align: center;
  width: 100%;
}

#dashNav {
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

#postButton {
  width: 100%;
  border-radius: 9999px;
}

#UserNameDisplay {
  bottom: 0%;
  position: fixed;
  width: 13%;
}

#displayUsername {
  color: white;
}

.testLineText {
  white-space: nowrap;
  padding: 5px 15px 5px 20px;
  margin: 0px;
  text-align: left;
  display: inline-flex;
}

.userInfoCont {
  /* border: 1px solid pink; */
  width: 100%;
  display: flex;
  width: fit-content;
}
.avatarCont {
  /* border: 5px dashed orangered; */
  justify-content: center;
  width: fit-content;
  padding: 0;
}

.avatarIcon {
  border-radius: 9999px;
  width: 50px;
  justify-content: center;
}

.usernameCont {
  /* border: 1px solid lightgreen; */
  width: 100%;
}

#displayNavUsername {
  font-size: 18px;
  color: white;
}

.BtnSidenav {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.BtnSidenav:hover {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 9999px;
}

.BtnSidenav:active {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 9999px;
}

.BtnSidenav:focus {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 9999px;
}
