#statusContainer {
  /* border: 1px solid red; */
}

.feedMain {
  margin-right: 80;
  margin-left: 80;
  padding-right: 80;
  padding-left: 80;
  padding: 0;
}

.feedText {
  background-color: #000000;
  color: white;
  border-bottom: #2f3336 solid 1px;
  border-top: #2f3336 solid 1px;
}

#feedUserCont {
  margin: 0px;
  padding: 0px;
  border: solid purple 1px;
}

.avaCont {
  /* border: solid 1px red; */
  width: fit-content;
  padding: 0px;
}

.feedAva {
  border-radius: 9999px;
  padding: 0px;
}

.usernameFeed {
  color: #6e767d;
  /* border: lightgreen dotted 1px; */
}

#feedStatus {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  color: #d3d3d3;
  border: lightblue dotted 1px;
}

#feedUserIconBtnCont {
  border: solid greenyellow 1px;
  display: flex;
}

#feedMoreIC {
  float: right;
  background-color: #000000;
  border-radius: 9999px;
  border-style: none;
}
#feedMoreIC:hover {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 9999px;
  border-style: none;
}
#feedMoreIC:focus {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 9999px;
  border-style: none;
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none;
}
#feedMoreIC:active {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 9999px;
  border: none;
  outline: none !important;
  outline-offset: none !important;
}

#usernameFeedCont {
  border: dashed white 1px;
}

#optionsBtnCont {
  /* border: dashed grey 2px; */
  width: fit-content;
  display: inline-block;
}

.postIcon {
  font-size: 15px;
  color: #676f76;
  justify-content: space-between;
  /* padding: 10px; */
}

.iconCont {
  padding: 5px;
}
.iconCont:hover {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 9999px;
}

.userIntBtns {
  justify-content: space-around;
  /* border: orange dotted 1px; */
}
