/* .row {
  border: double white 3px;
} */

#contentContainer {
  border-left: solid 1px #2f3336;
  border-right: solid 1px #2f3336;
  /* border: dotted 5px red; */

  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

#category {
  background-color: #000000;
  color: white;
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: solid 1px #2f3336;
  position: absolute;
  z-index: 9999;
}

#postCards {
  padding-top: 75px;
}

.divider {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  background-color: #15181c;
  border-bottom: #2f3336 solid 1px;
  border-top: #2f3336 solid 1px;
}

#latestSortBtn {
  color: white;
}

.latestSortIcon {
  position: relative;
  float: right;
  background-color: #000000;
  border-radius: 9999px;
}
.latestSortIcon:hover {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 9999px;
}
.latestSortIcon:focus {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 9999px;
}
.latestSortIcon:active {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 9999px;
}
